@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
  --primary-color: #007AC3;
  --secondary-color: #B8DAFF;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
}

a,
a:hover,
a:active,
a:visited {
  color: var(--primary-color);
}

.main {
  background-color: #fff;
  color: black;
  font-size: larger;
}

.section {
  padding: 2rem 0;
}

.section ul li {
  margin: 0.5rem 0;
}

.section.section-sep {
  background-color: var(--secondary-color);
}

.section.header .logo {
  height: 20rem;
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.section.footer {
  color: #fff;
  text-align: center;
  background-color: var(--primary-color);
}

.section.footer a,
.section.footer a:hover,
.section.footer a:active,
.section.footer a:visited {
  color: #fff;
  font-style: italic;
}

.contacts-list .contacts-list-icon {
  display: inline-block;
  width: 2rem;
  text-align: center;
}

.interflora {
  max-height: 20rem;
  max-width: 100%;
}